{% extends "base.html" %}

{% load static %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
{% endblock css %}
{% block title %}
  Dashboard
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Dashboard</h1>
        <p>signed in as {{ request.user }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>My Post Templates</h2>
        <a href="{% url 'dashboard:new-template' %}">Create New Post Template</a>
        <div id="post-templates-list">
          {% include "dashboard/render_template_cards.html" with templates=user_post_templates %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>My Posts</h2>
        <a href="{% url 'dashboard:new-post' %}">Create New Post</a>
        <div id="posts-list">{% include "posts/render_cards.html" with posts=user_posts %}</div>
      </div>
    </div>
  </div>
{% endblock content %}
