{% extends "base.html" %}

{% load static %}

{% block title %}
  Create Post Template
{% endblock title %}
{% block content %}
  <h1>Create a New Post Template</h1>
  <p>Easily auto-fill recurring information.</p>
  <a href="{% url 'dashboard:home' %}">Back to Dashboard</a>
  {{ form.non_field_errors }}
  <form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <div class="fieldWrapper">
      {{ form.title.errors }}
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}
    </div>
    <div class="fieldWrapper">
      {{ form.description.errors }}
      <label for="{{ form.description.id_for_label }}">Description:</label>
      {{ form.description }}
    </div>
    <div class="fieldWrapper">
      {{ form.location.errors }}
      <label for="{{ form.location.id_for_label }}">Location:</label>
      {{ form.location }}
    </div>
    <div class="fieldWrapper">
      {{ form.tags.errors }}
      <label for="{{ form.tags.id_for_label }}">Tags:</label>
      {{ form.tags }}
    </div>
    <div class="fieldWrapper">
      {{ form.image_url.errors }}
      <label for="{{ form.image_url.id_for_label }}">Image:</label>
      {{ form.image_url }}
    </div>
    <input type="submit" value="Create Post Template" />
  </form>
{% endblock content %}
