{% load static %}

<link href="{% static 'css/posts/card.css' %}" rel="stylesheet" />
<div class="post-card">
  {% if post.image %}
    <img src="{{ post.image.url }}" alt="Banner" class="post-image" />
  {% else %}
    <img src="" alt="Banner" />
  {% endif %}
  <div class="post-info">
    <h3>{{ post.title }}</h3>
    <p class="post-author">By {{ post.author }}</p>
    <p class="post-description">{{ post.description }}</p>
    <a href="{% url 'post-detail' post.pk %}"
       class="btn btn-outline-light btn-sm mt-3">Learn More</a>
  </div>
  <div class="post-footer">
    <span class="post-date">📅 {{ post.start_date|date:"M j, Y, g:i a" }} -
    {{ post.end_date|date:"M j, Y, g:i a" }}</span>
    <span class="post-type">{{ post.tags.all.0 }}</span>
  </div>
</div>
