{% extends "base.html" %}

{% load static %}

{% block title %}
  Home - Discover UTM
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <div id="posts-container">
    <h3>POSTS</h3>
    {% if posts %}
      {% include "posts/compact_posts.html" with posts=posts %}
    {% else %}
      <p>No posts available.</p>
    {% endif %}
  </div>
  <button onclick="refreshPosts()">Refresh Posts</button>
{% endblock content %}
